.chat-container {
	border-color: black;
	background-color: #999999;
	border-width: 3px;
	border-style: solid;
	color: #FFFFFF;
	width: 100%;
	padding: 5px;
	top: 0;
	right: 0;
}

.messages {
	height: 75vh;
	overflow: auto;
	padding: 10px;
	padding-bottom: 5px;
}

.data {
	padding-left: 15px;
}

.message {
	margin-bottom: 15px;
}
